:root {
  --almost-black-color: #16262e;
  --blue-color: #2e4756;
  --dark-cyan-color: #39707f;
  --cyan-color: #3c7a89;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 64px 0px 64px;
}

.nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  display: flex;
  gap: 50px;
}

.nav-bar a {
  color: var(--blue-color);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

.nav-bar a:hover {
  color: var(--dark-cyan-color);
}

.lingo-choice {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--almost-black-color);
}

.clickable {
  cursor: pointer;
}

.row {
  display: flex;
}